.guide-item {
    position: relative;
    background: #000;
    line-height: 0;
    overflow: hidden;
    cursor: pointer;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        width: 46%;
        margin: 2%;
        float: left;
    }
    img  {
        opacity: 1;
        transition: all .3s linear;
    }
    &:hover img {
        opacity:0.4;
        transition: all .3s linear;
        transform: scale(1.2);
    }
    .guide-details {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        bottom: 0;
        top: 0;
        margin: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .3s linear;
        text-decoration: none;
        &:hover {
            opacity: 1;
            transition: all .3s linear;
        }
        h3 {
            margin: 16px 0 7px;
            color: #fff;
            text-transform: uppercase;
            display: flex;
            font-size: 1.8em;
        }
        p {
            margin: 10px 0 0;
            color: #fff;
            font-size: 1.3em;
            font-style: italic;
        }
    }
}



.interview-heading {
    text-align: center;
    padding: 4rem 0;
    max-width: 1000px;
    margin: 0 auto;
    font-weight: normal;
    
}

.one-conversation {
    .wrap {
        max-width: 1200px;
    }
    .page-header {
        max-width: 800px;
        .sub {
            font-size: 1.3rem;
        }
    }
}