.video-item {
    position: relative;
    background: #000;
    line-height: 0;
    overflow: hidden;
    cursor: pointer;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        width: 46%;
        margin: 2%;
        float: left;
    }
    img  {
        opacity: 1;
        transition: all .3s linear;
    }
    &:hover img {
        opacity:0.4;
        transition: all .3s linear;
        transform: scale(1.2);
    }
    .video-details {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        bottom: 0;
        top: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .3s linear;
        text-decoration: none;
        &:hover {
            opacity: 1;
            transition: all .3s linear;
        }
        h3 {
            margin: 16px 0 0;
            color: #fff;
            text-transform: uppercase;
        }
    }
}