.team-list {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    display: flex;
    justify-content: space-between;
  }
  .person {
    padding-bottom: 2em;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
      width: 28%;
    }
    img {
      width: 100%;
    }
    .bio {
      font-style: italic;
    }
  }
}
