<div class="contact-form">
<form action="#" method="post">
  <input type="hidden" name="_to" value="info@corecommunites.org">
  <input type="hidden" name="_subject" value="Contact Form">
   <input type="text" name="_gotcha" style="display: none;">
    <div class="webform-component">
        <input type="text" name="name" id="name" required="" placeholder="Name">
    </div>
    <div class="webform-component">
        <input type="email" name="email" id="email" required="" placeholder="Email">
    </div>
    <div class="webform-component">
        <textarea id="message" name="message" rows="6" placeholder="Message"></textarea>
    </div>
    <input class="sendButton" type="submit" name="Submit" value="Send">
</form>

<div class="map-embed">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12119.464494898815!2d-105.0741521!3d40.5887104!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5bcf1221ed47a288!2sDowntown+Artery!5e0!3m2!1sen!2sus!4v1497732068801" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>