<footer class="wrap site-footer clearfix">
     <ul class="social-links">
      <li>
        <a href="https://www.facebook.com/vidsthatmatter/">
          <img src="/assets/images/social/Facebook.png"></a>
        </li>
      <li>
        <a href="https://www.instagram.com/videosthatmatter/"><img src="/assets/images/social/Instagram.png"></a>
      </li>
      <li>
        <a href="https://twitter.com/vidsthatmatter">
          <img src="/assets/images/social/Twitter.png"></a>
        </li>
    </ul>
  
  <p>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
  <p>Site by: <a href="http://www.harrierdesigns.com" target="_blank">Harrier</a></p>
</footer>
