.logo {
  float: left;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
      float: none;
    }
  img {
    display: block;
    margin: 0 auto 0 auto;
    width: 100px;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      margin: 0;
    }
  }
}
