/* validation Colors */
/* line 2, ../sass/partials/global/_extendables.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 7, ../sass/partials/global/_extendables.scss */
.clearfix:after {
  clear: both;
}

/* line 1, ../sass/partials/styleguide/type/_base-type.scss */
html {
  font: normal 100%/1.65 "Playfair Display", serif;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

/* line 6, ../sass/partials/styleguide/type/_base-type.scss */
body {
  color: #3d3d3d;
}

/* line 10, ../sass/partials/styleguide/type/_base-type.scss */
p {
  margin: auto auto 1.5em;
}
/* line 14, ../sass/partials/styleguide/type/_base-type.scss */
p + p {
  margin-top: -0.5em;
}

/* line 1, ../sass/partials/styleguide/type/_headings.scss */
h1 {
  font-size: 2em;
}

/* line 2, ../sass/partials/styleguide/type/_headings.scss */
h2 {
  font-size: 1.8em;
}

/* line 3, ../sass/partials/styleguide/type/_headings.scss */
h3 {
  font-size: 1.4em;
}

/* line 4, ../sass/partials/styleguide/type/_headings.scss */
h4 {
  font-size: 1.3em;
}

/* line 5, ../sass/partials/styleguide/type/_headings.scss */
h5 {
  font-size: 1.2em;
}

/* line 6, ../sass/partials/styleguide/type/_headings.scss */
h6 {
  font-size: 1em;
}

@media (min-width: 0) and (max-width: 37.5em) {
  /* line 9, ../sass/partials/styleguide/type/_headings.scss */
  h1 {
    font-size: 1.7em;
  }

  /* line 10, ../sass/partials/styleguide/type/_headings.scss */
  h2 {
    font-size: 1.4em;
  }

  /* line 11, ../sass/partials/styleguide/type/_headings.scss */
  h3 {
    font-size: 1.3em;
  }

  /* line 12, ../sass/partials/styleguide/type/_headings.scss */
  h4 {
    font-size: 1.3em;
  }

  /* line 13, ../sass/partials/styleguide/type/_headings.scss */
  h5 {
    font-size: 1.2em;
  }

  /* line 14, ../sass/partials/styleguide/type/_headings.scss */
  h6 {
    font-size: 1em;
  }
}
/* line 17, ../sass/partials/styleguide/type/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 16px 0;
  line-height: 1.3;
  color: #272727;
  font-family: "Overpass", sans-serif;
}

/* line 24, ../sass/partials/styleguide/type/_headings.scss */
.page-title {
  text-transform: uppercase;
  color: #545454;
}

/* line 28, ../sass/partials/styleguide/type/_headings.scss */
.sub-title {
  margin-top: 5px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: normal;
}

/* line 35, ../sass/partials/styleguide/type/_headings.scss */
.page-header {
  text-align: center;
  padding-bottom: 3em;
}
@media (min-width: 50em) {
  /* line 35, ../sass/partials/styleguide/type/_headings.scss */
  .page-header {
    max-width: 75%;
    margin: 0 auto;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .page-header {
  max-width: 75%;
  margin: 0 auto;
}
@media (min-width: 62.5em) {
  /* line 35, ../sass/partials/styleguide/type/_headings.scss */
  .page-header {
    max-width: 60%;
    margin: 0 auto;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .page-header {
  max-width: 60%;
  margin: 0 auto;
}
/* line 46, ../sass/partials/styleguide/type/_headings.scss */
.page-header p, .page-header div {
  font-style: italic;
}

/* line 1, ../sass/partials/styleguide/type/_links.scss */
a {
  color: #4da4f1;
}
/* line 3, ../sass/partials/styleguide/type/_links.scss */
a:hover {
  color: #7cbcf5;
}
/* line 6, ../sass/partials/styleguide/type/_links.scss */
a:visited {
  color: #1e8ced;
}

/* line 11, ../sass/partials/styleguide/type/_links.scss */
a.read-more-link {
  font-weight: 700;
}

/* line 16, ../sass/partials/styleguide/type/_links.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 1, ../sass/partials/styleguide/media/_images.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 1, ../sass/partials/styleguide/media/_videos.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

/* line 7, ../sass/partials/styleguide/media/_videos.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1, ../sass/partials/styleguide/forms/_inputs.scss */
input[type="text"], input[type="email"], input[type="name"], input[type="password"], input[type="file"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em 1.25em;
  font-size: 100%;
  font-family: "Overpass", sans-serif;
  border: 1px solid #D3D3D3;
  border-bottom: 0;
  border-radius: 0;
  width: 100%;
}
/* line 10, ../sass/partials/styleguide/forms/_inputs.scss */
input[type="text"]:active, input[type="text"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="name"]:active, input[type="name"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="file"]:active, input[type="file"]:focus {
  background: #fafafa;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/* line 1, ../sass/partials/styleguide/forms/_textarea.scss */
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em 1.25em;
  font-size: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 0;
  font-family: "Overpass", sans-serif;
}
/* line 9, ../sass/partials/styleguide/forms/_textarea.scss */
textarea:active, textarea:focus {
  background: #fafafa;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/* line 1, ../sass/partials/styleguide/forms/_buttons.scss */
input[type="submit"] {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #4da4f1;
  border: 1px solid #1e8ced;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 95%;
  font-family: "Overpass", sans-serif;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  cursor: pointer;
  width: 100%;
  padding: 1em;
  font-weight: 700;
}
/* line 56, ../sass/partials/global/_mixins.scss */
input[type="submit"]:hover {
  background-color: #449ff0;
}
/* line 12, ../sass/partials/styleguide/forms/_buttons.scss */
input[type="submit"]:hover {
  background: #1e8ced;
  border-color: #127fe0;
}

/* line 19, ../sass/partials/styleguide/forms/_buttons.scss */
.btn {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: 1em;
}
/* line 23, ../sass/partials/styleguide/forms/_buttons.scss */
.btn a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: rgba(96, 255, 56, 0.48);
  border: 1px solid rgba(55, 255, 5, 0.48);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 95%;
  font-family: "Overpass", sans-serif;
  background: rgba(96, 255, 56, 0.48);
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
/* line 56, ../sass/partials/global/_mixins.scss */
.btn a:hover {
  background-color: rgba(88, 255, 46, 0.48);
}
/* line 31, ../sass/partials/styleguide/forms/_buttons.scss */
.btn a:hover {
  background: rgba(32, 158, 0, 0.48);
  border-color: rgba(27, 133, 0, 0.48);
}
/* line 35, ../sass/partials/styleguide/forms/_buttons.scss */
.btn a i {
  vertical-align: middle;
  padding-left: .5em;
}
/* line 40, ../sass/partials/styleguide/forms/_buttons.scss */
.btn.alt a {
  background-color: #f85655;
  border: 1px solid #f62524;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 95%;
}
/* line 56, ../sass/partials/global/_mixins.scss */
.btn.alt a:hover {
  background-color: #f84c4b;
}
/* line 42, ../sass/partials/styleguide/forms/_buttons.scss */
.btn.alt a:hover {
  background: #f62524;
  border-color: #f50d0c;
}

/* line 2, ../sass/partials/styleguide/forms/_label.scss */
form label {
  font-size: 100%;
  font-family: "Overpass", sans-serif;
}
/* line 6, ../sass/partials/styleguide/forms/_label.scss */
form .webform-component-checkbox {
  padding: 1em 1.25em;
  border: 1px solid #D3D3D3;
  border-bottom: 0;
  border-radius: 0;
}
/* line 12, ../sass/partials/styleguide/forms/_label.scss */
form .description {
  font-size: 85%;
  margin: 1em 0;
}

/* line 1, ../sass/partials/styleguide/forms/_fieldsets.scss */
fieldset {
  border-radius: 3px;
  padding: 1em 1.5em;
}
/* line 5, ../sass/partials/styleguide/forms/_fieldsets.scss */
fieldset .fieldset-legend a {
  text-decoration: none;
}

/* line 1, ../sass/partials/styleguide/misc/_table.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 5, ../sass/partials/styleguide/misc/_table.scss */
table tr {
  padding: 0;
}
/* line 7, ../sass/partials/styleguide/misc/_table.scss */
table tr.odd {
  background-color: #f7f7f7;
  border-bottom: 0;
}
/* line 11, ../sass/partials/styleguide/misc/_table.scss */
table tr.even {
  background-color: white;
  border-bottom: 0;
}
/* line 16, ../sass/partials/styleguide/misc/_table.scss */
table td {
  padding: 0.5em 2em;
  margin: 0;
}

/* line 24, ../sass/partials/styleguide/misc/_table.scss */
table.sticky-enabled thead th, table.sticky-header thead th {
  border-bottom: 3px solid #4da4f1;
  padding: 1em 0 1em 2em;
}

/* line 1, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager {
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #f73e3d;
}
/* line 5, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager li {
  display: inline-block;
  list-style: none;
  padding-right: .5em;
  color: #4da4f1;
}
/* line 10, ../sass/partials/styleguide/misc/_pager.scss */
ul.pager li a:visited {
  color: #4da4f1;
}

/* line 1, ../sass/partials/styleguide/misc/_styleguide.scss */
.styleguide-wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 6em 0;
}

/* line 6, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block {
  padding-bottom: 3em;
}
/* line 8, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .highlighter-rouge {
  background: #f9f9f9;
  padding: 1em 2em;
  border-radius: 3px;
  border: 1px solid #ccc;
  clear: both;
}
/* line 15, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .sg-label {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ccc;
}
/* line 20, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .swatch {
  display: inline-block;
  width: 200px;
  padding: 5em 0 0;
  margin-right: 1em;
}
/* line 25, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .swatch span {
  display: block;
  background: #fff;
  padding: 1em 0;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}
/* line 32, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .swatch.color-one {
  background: #4da4f1;
}
/* line 34, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .swatch.color-one span {
  color: #4da4f1;
}
/* line 38, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .swatch.color-two {
  background: #f85655;
}
/* line 40, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .swatch.color-two span {
  color: #f85655;
}
/* line 44, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .swatch.color-three {
  background: #858585;
}
/* line 46, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .swatch.color-three span {
  color: #858585;
}
/* line 51, ../sass/partials/styleguide/misc/_styleguide.scss */
.sg-block .main-nav, .sg-block .contact-form {
  margin-bottom: 2em;
}

@media (min-width: 50em) {
  /* line 1, ../sass/partials/styleguide/layouts/_layouts.scss */
  .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* line 6, ../sass/partials/styleguide/layouts/_layouts.scss */
.cols .col {
  margin: 2em 0;
}

@media (min-width: 50em) {
  /* line 11, ../sass/partials/styleguide/layouts/_layouts.scss */
  .cols-2 .col {
    width: 45%;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .cols-2 .col {
  width: 45%;
}

@media (min-width: 50em) {
  /* line 19, ../sass/partials/styleguide/layouts/_layouts.scss */
  .cols-3 .col {
    width: 30%;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .cols-3 .col {
  width: 30%;
}

@media (min-width: 50em) {
  /* line 26, ../sass/partials/styleguide/layouts/_layouts.scss */
  .cols-4 .col {
    width: 22%;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .cols-4 .col {
  width: 22%;
}

/* line 34, ../sass/partials/styleguide/layouts/_layouts.scss */
.center .col {
  text-align: center;
}

/* line 1, ../sass/partials/design/blocks/_logo.scss */
.logo {
  float: left;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/blocks/_logo.scss */
  .logo {
    float: none;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .logo {
  float: none;
}
/* line 6, ../sass/partials/design/blocks/_logo.scss */
.logo img {
  display: block;
  margin: 0 auto 0 auto;
  width: 100px;
}
@media (min-width: 50em) {
  /* line 6, ../sass/partials/design/blocks/_logo.scss */
  .logo img {
    margin: 0;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .logo img {
  margin: 0;
}

/* line 1, ../sass/partials/design/blocks/_main-navigation.scss */
.main-nav {
  clear: both;
  /* margin: 6em 0 0; */
  padding: 2em 0 0;
  display: none;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/blocks/_main-navigation.scss */
  .main-nav {
    clear: none;
    padding: 0;
    display: block !important;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .main-nav {
  clear: none;
  padding: 0;
  display: block !important;
}

/* line 12, ../sass/partials/design/blocks/_main-navigation.scss */
.menu {
  padding: 1em 0 0;
  margin: 0;
  font-family: "Overpass", sans-serif;
  font-size: 1em;
}
@media (min-width: 50em) {
  /* line 12, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu {
    text-align: right;
    padding: 0;
    padding-top: 25px;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu {
  text-align: right;
  padding: 0;
  padding-top: 25px;
}
/* line 23, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li {
  list-style: none;
  margin: 0;
  display: block;
  padding: 0em 1em;
  position: relative;
}
@media (min-width: 50em) {
  /* line 23, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li {
    display: inline-block;
    padding: 0;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li {
  display: inline-block;
  padding: 0;
}
@media (min-width: 50em) {
  /* line 33, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li:last-child a {
    border-radius: 33px;
    border: 2px solid #000;
    padding: .5em 1.5em .4em;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li:last-child a {
  border-radius: 33px;
  border: 2px solid #000;
  padding: .5em 1.5em .4em;
}
/* line 40, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a {
  font-weight: 700;
  -webkit-transition: color .5s ease;
          transition: color .5s ease;
  padding: 0;
  display: block;
  padding: .5em 0em;
  color: #000;
  text-transform: uppercase;
}
@media (min-width: 50em) {
  /* line 40, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li a {
    padding: .75em 1em;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li a {
  padding: .75em 1em;
}
/* line 51, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a:hover {
  color: #4da4f1;
}
/* line 54, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li a:active {
  position: relative;
}
@media (min-width: 50em) {
  /* line 59, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li:hover ul {
    opacity: 1;
    visibility: visible;
    margin-top: 12px;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li:hover ul {
  opacity: 1;
  visibility: visible;
  margin-top: 12px;
}
/* line 67, ../sass/partials/design/blocks/_main-navigation.scss */
.menu li ul {
  padding: 0em 1em 0;
}
@media (min-width: 50em) {
  /* line 67, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 200px;
    text-align: left;
    background: #efefef;
    margin-top: -20px;
    -webkit-transition: all .35s ease-in;
            transition: all .35s ease-in;
    padding: .3em 0;
  }
  /* line 79, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li ul li {
    margin: 0;
    padding: 0;
    font-size: 90%;
    display: block;
  }
}
@media (min-width: 50em) and (min-width: 50em) {
  /* line 84, ../sass/partials/design/blocks/_main-navigation.scss */
  .menu li ul li:last-child a {
    border-radius: 0;
    border: 0;
    padding: .75em 1em;
  }
}
@media (min-width: 50em) {
  /* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
  .no-mq .menu li ul li:last-child a {
    border-radius: 0;
    border: 0;
    padding: .75em 1em;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .menu li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 200px;
  text-align: left;
  background: #efefef;
  margin-top: -20px;
  -webkit-transition: all .35s ease-in;
          transition: all .35s ease-in;
  padding: .3em 0;
}
/* line 79, ../sass/partials/design/blocks/_main-navigation.scss */
.no-mq .menu li ul li {
  margin: 0;
  padding: 0;
  font-size: 90%;
  display: block;
}
@media (min-width: 50em) {
  /* line 84, ../sass/partials/design/blocks/_main-navigation.scss */
  .no-mq .menu li ul li:last-child a {
    border-radius: 0;
    border: 0;
    padding: .75em 1em;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .no-mq .menu li ul li:last-child a {
  border-radius: 0;
  border: 0;
  padding: .75em 1em;
}
/* line 101, ../sass/partials/design/blocks/_main-navigation.scss */
.menu a, .menu a:visited {
  text-decoration: none;
}

/* line 107, ../sass/partials/design/blocks/_main-navigation.scss */
.hamburger-menu {
  position: absolute;
  z-index: 10;
  right: 0;
  padding: 1.5em 2em;
}
@media (min-width: 50em) {
  /* line 107, ../sass/partials/design/blocks/_main-navigation.scss */
  .hamburger-menu {
    display: none;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .hamburger-menu {
  display: none;
}

/* line 121, ../sass/partials/design/blocks/_main-navigation.scss */
.hamburger-menu {
  cursor: pointer;
  right: 0;
}
/* line 124, ../sass/partials/design/blocks/_main-navigation.scss */
.hamburger-menu a {
  display: block;
  height: 30px;
}

/* line 130, ../sass/partials/design/blocks/_main-navigation.scss */
.hamburger-menu .bar,
.hamburger-menu .bar:after,
.hamburger-menu .bar:before {
  width: 30px;
  height: 3px;
}

/* line 137, ../sass/partials/design/blocks/_main-navigation.scss */
.hamburger-menu .bar {
  position: relative;
  -webkit-transform: translateY(9px);
      -ms-transform: translateY(9px);
          transform: translateY(9px);
  background: #000;
  -webkit-transition: all 0ms 300ms;
          transition: all 0ms 300ms;
}

/* line 144, ../sass/partials/design/blocks/_main-navigation.scss */
.hamburger-menu .bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 9px;
  background: #000;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 153, ../sass/partials/design/blocks/_main-navigation.scss */
.hamburger-menu .bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  background: #000;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 1, ../sass/partials/design/pages/_about.scss */
.about-section {
  background: url("/assets/images/about.png") no-repeat center center fixed;
  background-size: cover;
  background-color: #273948;
}

/* line 11, ../sass/partials/design/pages/_about.scss */
.about-content {
  max-width: 980px;
  margin: 0 auto;
  font-size: 1.3em;
  font-style: italic;
  color: #fff;
  padding: 4em 1em 3em;
}
@media (min-width: 50em) {
  /* line 11, ../sass/partials/design/pages/_about.scss */
  .about-content {
    padding: 8em 1em 6em;
    -webkit-columns: 2;
            columns: 2;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .about-content {
  padding: 8em 1em 6em;
  -webkit-columns: 2;
          columns: 2;
}

/* line 26, ../sass/partials/design/pages/_about.scss */
.page-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 2em 0;
}
/* line 30, ../sass/partials/design/pages/_about.scss */
.page-content img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
  padding-bottom: 1em;
}

/* line 1, ../sass/partials/design/pages/_contact.scss */
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fafafa;
}
@media (min-width: 50em) {
  /* line 6, ../sass/partials/design/pages/_contact.scss */
  .contact-form form {
    width: 50%;
    padding: 2em;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .contact-form form {
  width: 50%;
  padding: 2em;
}
@media (min-width: 50em) {
  /* line 12, ../sass/partials/design/pages/_contact.scss */
  .contact-form .map-embed {
    width: 50%;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .contact-form .map-embed {
  width: 50%;
}

/* line 19, ../sass/partials/design/pages/_contact.scss */
.submit-form {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 3em;
}
@media (min-width: 50em) {
  /* line 19, ../sass/partials/design/pages/_contact.scss */
  .submit-form {
    display: inline-block;
    vertical-align: top;
    width: 55%;
    float: right;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .submit-form {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  float: right;
}

/* line 32, ../sass/partials/design/pages/_contact.scss */
.submit-content {
  font-size: 1.2em;
  padding-top: 3em;
}
@media (min-width: 50em) {
  /* line 32, ../sass/partials/design/pages/_contact.scss */
  .submit-content {
    display: inline-block;
    width: 40%;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .submit-content {
  display: inline-block;
  width: 40%;
}

/* line 1, ../sass/partials/design/pages/_front.scss */
.front {
  padding: 0 0 2em;
}
/* line 3, ../sass/partials/design/pages/_front.scss */
.front section {
  padding-top: 4em;
}
@media (min-width: 50em) {
  /* line 3, ../sass/partials/design/pages/_front.scss */
  .front section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 4em;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .front section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4em;
}
/* line 11, ../sass/partials/design/pages/_front.scss */
.front section .front-blocks {
  padding-bottom: 2em;
}
@media (min-width: 50em) {
  /* line 11, ../sass/partials/design/pages/_front.scss */
  .front section .front-blocks {
    width: 40%;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .front section .front-blocks {
  width: 40%;
}
/* line 16, ../sass/partials/design/pages/_front.scss */
.front section .front-blocks p {
  font-style: italic;
}

/* line 23, ../sass/partials/design/pages/_front.scss */
.front-video {
  overflow: hidden;
  position: relative;
  background: #000;
}
/* line 27, ../sass/partials/design/pages/_front.scss */
.front-video .videoWrapper {
  padding-top: 0;
  margin-top: -13px;
}
/* line 31, ../sass/partials/design/pages/_front.scss */
.front-video .caption {
  text-align: center;
  padding: 1em 1em;
  background: #000;
}
@media (min-width: 50em) {
  /* line 31, ../sass/partials/design/pages/_front.scss */
  .front-video .caption {
    position: absolute;
    bottom: 0;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, black 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    width: 100%;
    text-align: right;
    padding: 2em 2em;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .front-video .caption {
  position: absolute;
  bottom: 0;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  width: 100%;
  text-align: right;
  padding: 2em 2em;
}
/* line 46, ../sass/partials/design/pages/_front.scss */
.front-video .caption h2 {
  color: #fff;
  display: inline-block;
  margin: 0 30px 0 0;
  /* padding-top: 5px; */
  vertical-align: middle;
  font-size: 2em;
}
/* line 54, ../sass/partials/design/pages/_front.scss */
.front-video .caption a {
  color: #fff;
}

/* line 59, ../sass/partials/design/pages/_front.scss */
.front-video-bg-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

/* line 1, ../sass/partials/design/pages/_video.scss */
.video-details-node {
  padding: 3em 0 0;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/pages/_video.scss */
  .video-details-node {
    float: left;
    width: 50%;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .video-details-node {
  float: left;
  width: 50%;
}
/* line 7, ../sass/partials/design/pages/_video.scss */
.video-details-node .music {
  margin-top: 2em;
  text-transform: uppercase;
}

/* line 12, ../sass/partials/design/pages/_video.scss */
.about-video {
  font-size: 2em;
  font-style: italic;
}
/* line 15, ../sass/partials/design/pages/_video.scss */
.about-video p {
  margin-bottom: 0;
}

/* line 1, ../sass/partials/design/regions/_footer.scss */
.footer-wrapper {
  padding: 3em 0;
  margin: 3em 0 0;
  background: #efefef;
  text-align: center;
}
/* line 6, ../sass/partials/design/regions/_footer.scss */
.footer-wrapper img {
  max-width: 150px;
}

/* line 12, ../sass/partials/design/regions/_footer.scss */
.footer-wrapper .social-links {
  text-align: center;
  padding-bottom: 1em;
}
/* line 15, ../sass/partials/design/regions/_footer.scss */
.footer-wrapper .social-links li {
  width: 40px;
  margin: 0 5px;
}
/* line 19, ../sass/partials/design/regions/_footer.scss */
.footer-wrapper .social-links img {
  max-width: 100%;
}

/* line 1, ../sass/partials/design/regions/_header.scss */
header .logo {
  text-align: center;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/regions/_header.scss */
  header .logo {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq header .logo {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

@media (min-width: 50em) {
  /* line 7, ../sass/partials/design/regions/_header.scss */
  header .main-nav {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq header .main-nav {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 13, ../sass/partials/design/regions/_header.scss */
.header-wrapper {
  padding: 1em 0;
  background: white;
  border-bottom: 1px solid #efefef;
}

/* line 20, ../sass/partials/design/regions/_header.scss */
.home .header-wrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.6+0,0+30 */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.6)), color-stop(30%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 1em 0;
  border-bottom: 0;
  width: 100%;
  z-index: 1;
}
@media (min-width: 50em) {
  /* line 20, ../sass/partials/design/regions/_header.scss */
  .home .header-wrapper {
    position: absolute;
    z-index: 11;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .home .header-wrapper {
  position: absolute;
  z-index: 11;
}
@media (min-width: 50em) {
  /* line 34, ../sass/partials/design/regions/_header.scss */
  .home .header-wrapper nav .menu li a {
    color: #fff;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.35);
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .home .header-wrapper nav .menu li a {
  color: #fff;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.35);
}
@media (min-width: 50em) {
  /* line 40, ../sass/partials/design/regions/_header.scss */
  .home .header-wrapper nav .menu li:last-child a {
    border-color: #fff;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .home .header-wrapper nav .menu li:last-child a {
  border-color: #fff;
}

/* line 48, ../sass/partials/design/regions/_header.scss */
.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 50em) {
  /* line 48, ../sass/partials/design/regions/_header.scss */
  .social-links {
    text-align: right;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .social-links {
  text-align: right;
}
/* line 55, ../sass/partials/design/regions/_header.scss */
.social-links li {
  display: inline-block;
  width: 30px;
  margin-left: 5px;
}

/* line 1, ../sass/partials/design/regions/_main.scss */
.wrap {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2em;
}
/* line 13, ../../../../../.rvm/gems/ruby-2.4.0/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, ../sass/partials/design/regions/_main.scss */
main {
  padding: 2em 0;
}
/* line 13, ../../../../../.rvm/gems/ruby-2.4.0/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
main:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, ../sass/partials/design/regions/_body.scss */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}
/* line 4, ../sass/partials/design/regions/_body.scss */
html body {
  margin: 0;
  height: 100%;
  background: white;
  overflow-x: hidden;
}

/* line 11, ../sass/partials/design/regions/_body.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* line 13, ../sass/partials/design/regions/_body.scss */
.wrap {
  max-width: 1500px;
  margin: 0 auto;
}
/* line 13, ../../../../../.rvm/gems/ruby-2.4.0/gems/toolkit-2.3.0/stylesheets/toolkit/_clearfix.scss */
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../sass/partials/design/regions/_body.scss */
.site-wrapper {
  margin: 0 auto;
  max-width: 1500px;
}

/* line 24, ../sass/partials/design/regions/_body.scss */
main, header, footer, section, aside {
  display: block;
}

/* line 1, ../sass/partials/design/views/_projects.scss */
.video-item {
  position: relative;
  background: #000;
  line-height: 0;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/views/_projects.scss */
  .video-item {
    width: 46%;
    margin: 2%;
    float: left;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .video-item {
  width: 46%;
  margin: 2%;
  float: left;
}
/* line 12, ../sass/partials/design/views/_projects.scss */
.video-item img {
  opacity: 1;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
}
/* line 16, ../sass/partials/design/views/_projects.scss */
.video-item:hover img {
  opacity: 0.4;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
/* line 21, ../sass/partials/design/views/_projects.scss */
.video-item .video-details {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  bottom: 0;
  top: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
  text-decoration: none;
}
/* line 35, ../sass/partials/design/views/_projects.scss */
.video-item .video-details:hover {
  opacity: 1;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
}
/* line 39, ../sass/partials/design/views/_projects.scss */
.video-item .video-details h3 {
  margin: 16px 0 0;
  color: #fff;
  text-transform: uppercase;
}

/* line 1, ../sass/partials/design/views/_team.scss */
.team-list-wrap {
  text-align: center;
  padding: 5em 0;
}
/* line 4, ../sass/partials/design/views/_team.scss */
.team-list-wrap h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 2em;
}

@media (min-width: 50em) {
  /* line 10, ../sass/partials/design/views/_team.scss */
  .team-list {
    text-align: center;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .team-list {
  text-align: center;
}
/* line 16, ../sass/partials/design/views/_team.scss */
.team-list .person {
  padding-bottom: 2em;
}
@media (min-width: 50em) {
  /* line 16, ../sass/partials/design/views/_team.scss */
  .team-list .person {
    width: 30%;
    display: inline-block;
    margin: 0 1.5% 2em;
    vertical-align: top;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .team-list .person {
  width: 30%;
  display: inline-block;
  margin: 0 1.5% 2em;
  vertical-align: top;
}
/* line 24, ../sass/partials/design/views/_team.scss */
.team-list .person img {
  width: 100%;
}
/* line 27, ../sass/partials/design/views/_team.scss */
.team-list .person .position {
  font-style: italic;
  font-size: 1.3em;
}
/* line 32, ../sass/partials/design/views/_team.scss */
.team-list h4 {
  margin-bottom: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 41, ../sass/partials/design/views/_team.scss */
.collabs-list-wrap {
  text-align: center;
  padding: 5em 0 0;
}
/* line 44, ../sass/partials/design/views/_team.scss */
.collabs-list-wrap h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 2em;
}

@media (min-width: 50em) {
  /* line 50, ../sass/partials/design/views/_team.scss */
  .collabs-list {
    text-align: center;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .collabs-list {
  text-align: center;
}
/* line 54, ../sass/partials/design/views/_team.scss */
.collabs-list .collab {
  padding-bottom: 2em;
}
@media (min-width: 50em) {
  /* line 54, ../sass/partials/design/views/_team.scss */
  .collabs-list .collab {
    width: 27%;
    display: inline-block;
    margin: 0 1.5% 2em;
    vertical-align: top;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .collabs-list .collab {
  width: 27%;
  display: inline-block;
  margin: 0 1.5% 2em;
  vertical-align: top;
}
@media (min-width: 62.5em) {
  /* line 54, ../sass/partials/design/views/_team.scss */
  .collabs-list .collab {
    width: 16%;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .collabs-list .collab {
  width: 16%;
}
/* line 65, ../sass/partials/design/views/_team.scss */
.collabs-list .collab img {
  width: 100%;
}
/* line 68, ../sass/partials/design/views/_team.scss */
.collabs-list .collab p {
  font-style: italic;
  font-size: 1.3em;
}
/* line 73, ../sass/partials/design/views/_team.scss */
.collabs-list h4 {
  margin-bottom: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 2, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .blog-item {
  padding-bottom: 2em;
}
/* line 6, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog h3 {
  margin-top: 0;
}
/* line 9, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog .person {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: -5px;
  border: 2px solid #4da4f1;
}
/* line 16, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul {
  list-style: none;
  padding: 0;
}
/* line 19, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul li {
  display: inline-block;
}
/* line 21, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul li.tag-label {
  background: #4da4f1;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: .8rem;
}
/* line 26, ../sass/partials/design/views/_blog.scss */
.blog-wrapper .right-blog ul li.tag-label a, .blog-wrapper .right-blog ul li.tag-label a:visited {
  color: #f1f1f1;
  text-decoration: none;
}
@media (min-width: 50em) {
  /* line 35, ../sass/partials/design/views/_blog.scss */
  .blog-wrapper .left-image {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  /* line 38, ../sass/partials/design/views/_blog.scss */
  .blog-wrapper .right-blog {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 35, ../sass/partials/design/views/_blog.scss */
.no-mq .blog-wrapper .left-image {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
/* line 38, ../sass/partials/design/views/_blog.scss */
.no-mq .blog-wrapper .right-blog {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 1, ../sass/partials/design/views/_guides.scss */
.guide-item {
  position: relative;
  background: #000;
  line-height: 0;
  overflow: hidden;
  cursor: pointer;
}
@media (min-width: 50em) {
  /* line 1, ../sass/partials/design/views/_guides.scss */
  .guide-item {
    width: 46%;
    margin: 2%;
    float: left;
  }
}
/* line 92, ../../../../../.rvm/gems/ruby-2.4.0/gems/breakpoint-2.5.0/stylesheets/_breakpoint.scss */
.no-mq .guide-item {
  width: 46%;
  margin: 2%;
  float: left;
}
/* line 12, ../sass/partials/design/views/_guides.scss */
.guide-item img {
  opacity: 1;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
}
/* line 16, ../sass/partials/design/views/_guides.scss */
.guide-item:hover img {
  opacity: 0.4;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
/* line 21, ../sass/partials/design/views/_guides.scss */
.guide-item .guide-details {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  bottom: 0;
  top: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
      flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
  text-decoration: none;
}
/* line 36, ../sass/partials/design/views/_guides.scss */
.guide-item .guide-details:hover {
  opacity: 1;
  -webkit-transition: all .3s linear;
          transition: all .3s linear;
}
/* line 40, ../sass/partials/design/views/_guides.scss */
.guide-item .guide-details h3 {
  margin: 16px 0 7px;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8em;
}
/* line 47, ../sass/partials/design/views/_guides.scss */
.guide-item .guide-details p {
  margin: 10px 0 0;
  color: #fff;
  font-size: 1.3em;
  font-style: italic;
}

/* line 58, ../sass/partials/design/views/_guides.scss */
.interview-heading {
  text-align: center;
  padding: 4rem 0;
  max-width: 1000px;
  margin: 0 auto;
  font-weight: normal;
}

/* line 68, ../sass/partials/design/views/_guides.scss */
.one-conversation .wrap {
  max-width: 1200px;
}
/* line 71, ../sass/partials/design/views/_guides.scss */
.one-conversation .page-header {
  max-width: 800px;
}
/* line 73, ../sass/partials/design/views/_guides.scss */
.one-conversation .page-header .sub {
  font-size: 1.3rem;
}



.doc-page {
 background: #fff;  
}

.doc-intro {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
@media (min-width: 768px) {
.doc-intro {
	  grid-template-columns: 3fr 1fr;
	  grid-gap: 4rem;
  }
}

.doc-intro img {
	  max-width: 100% !important;
	}


.doc-intro h1 {
	      font-weight: 700;
    font-size: 2rem;
	}


.doc-intro h2 {
	  font-size: 1.5rem;
    margin-top: 1rem;
	}

.doc-gallery {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
@media (min-width: 768px) {
  .doc-gallery {
	  grid-template-columns: 1fr 1fr;
	}
}

.video-container {
    margin-bottom: 2rem;

}


.doc-director {
      display: grid;
    grid-template-columns: 90px 1fr;
    grid-gap: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #efefef;
    margin-top: 2rem;
}

.doc-director .doc-director--details h6 {
      margin: 0 0 0.5rem;
    font-size: 1.1rem;
  
}

.doc-director .doc-director--details p {
    font-size: 1rem;
  
}
