.about-section {
    background: url('/assets/images/about.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      background-color: #273948;

}

.about-content {
max-width: 980px;
    margin: 0 auto;
    font-size: 1.3em;
    font-style: italic;
    color: #fff;
    padding: 4em 1em 3em;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      padding: 8em 1em 6em;
      columns: 2;

    }
}


  .page-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 2em 0;
    img {
        display: block;
      margin: 0 auto;
      max-width: 150px;
      padding-bottom: 1em;
    }
  }






.doc-page {
 background: #fff;  
}

.doc-intro {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
	@media #{$tablet} {
	  grid-template-columns: 2.5fr 1fr;
	}
	img {
	  max-width: 100% !important;
	}
	h1 {
	      font-weight: 700;
    font-size: 2rem;
	}
	h2 {
	  font-size: 1.5rem;
    margin-top: 1rem;
	}
}




.doc-gallery {
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
	@media #{$tablet} {
	  grid-template-columns: 1fr 1fr;
	}
}


.video-container {
    margin-bottom: 2rem;
  	@media #{$tablet} {
	}

}



