.front {
	padding: 0 0 2em;
    section {
        padding-top: 4em;
    @include breakpoint($bp-medium, $no-query: ".no-mq") {
        display: flex;
        text-align: center;
        justify-content: space-between;
        padding-top: 4em;
    }
        .front-blocks {
            padding-bottom: 2em;
             @include breakpoint($bp-medium, $no-query: ".no-mq") {
                width: 40%;
             }
             p {
                 font-style: italic;
             }
        }
    }
}

.front-video {
    overflow: hidden;
    position: relative;
    .videoWrapper {
        padding-top: 0;
        margin-top: -13px;
    }
    .caption {
            position: absolute;
    bottom: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */    width: 100%;
    text-align: center;
    padding: 2em 1em;
    h2 {
        color: #fff;
            display: inline-block;
    margin: 0 30px 0 0;
    /* padding-top: 5px; */
    vertical-align: middle;
    font-size: 2em;
    }
    a {
        color: #fff;
    }
    }
}