.footer-wrapper {
    padding: 3em 0;
    margin: 3em 0 0;
    background: #efefef;
    text-align: center;
    img {
        max-width: 150px;
    }
}

.footer-wrapper {
  .social-links {
    text-align: center;
    li {
      width: 40px;
      margin: 0 5px;
    }
    img {
      max-width: 100%;
    }
  }
}